/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');

body {
  background:-moz-radial-gradient(circle at 50% 50%, rgba(3, 207, 244, 1) 0%, rgba(1, 170, 255, 1) 100%);
  background:-webkit-radial-gradient(circle at 50% 50%, rgba(3, 207, 244, 1) 0%, rgba(1, 170, 255, 1) 100%);
  background:-o-radial-gradient(circle at 50% 50%, rgba(3, 207, 244, 1) 0%, rgba(1, 170, 255, 1) 100%);
  background:-ms-radial-gradient(circle at 50% 50%, rgba(3, 207, 244, 1) 0%, rgba(1, 170, 255, 1) 100%);
  background:radial-gradient(circle at 50% 50%, rgba(3, 207, 244, 1) 0%, rgba(1, 170, 255, 1) 100%);
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
}
